$fa-font-path : '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";

@import "~bulma/bulma";

$color: red;
$bg-image: url("./../assets/images/tower.jpg"); 

body {
    background-image: $bg-image;
    background-color: $color;
}
